<section class="quienes-somos">
  <div class="contenido">
    <h1>Contacto</h1>
    <p>
      ¿Tienes dudas, sugerencias o quieres comunicarte con nosotros? ¡Estaremos encantados de escucharte!
    </p>

    <p>
      Puedes escribirnos directamente a nuestro correo:
    </p>

    <p>
      <strong>📧 restobarsonline&#64;gmail.com</strong>
    </p>

    <p>
      Nuestro equipo de soporte te responderá lo antes posible. Gracias por confiar en nosotros.
    </p>

    <p class="firma">
      — El equipo de Mi RestobarOnline 🍽️
    </p>
  </div>
  <div class="volver-inicio">
    <a (click)="volver()" class="btn-volver">
      ← Volver al Inicio
    </a>
  </div>
  
</section>
