<div class="login-wrapper">
     <div class="background-image"></div>
     <mat-card class="login-card">
          <mat-card-header>
               <mat-card-title>
                    🍷 Bienvenido a Restobars Online
               </mat-card-title>
               <mat-card-subtitle>
                    Inicia sesión para continuar
               </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
               <form [formGroup]="formLogin" class="form-custom">
                    <mat-form-field appearance="outline" class="full-width">
                         <mat-label>Correo electrónico</mat-label>
                         <input matInput formControlName="email" type="email" placeholder="ejemplo@correo.com">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                         <mat-label>Contraseña</mat-label>
                         <input matInput formControlName="password" type="password" placeholder="••••••••">
                    </mat-form-field>

                    <div class="button-group">
                         <button mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
                         <button mat-flat-button color="accent" (click)="loginConGoogle()" style="display: flex; align-items: center;">
                              <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" height="20"
                                   style="margin-right: 10px; background: white; border-radius: 50%;" />
                              Ingresar con Google
                         </button>
                         <button mat-stroked-button color="accent" (click)="registrarse()">Registrarse</button>
                         <button mat-stroked-button color="warn" (click)="volver()">Volver</button>
                    </div>

                    <div class="divider"></div>


                    <div class="forgot-password">
                         ¿Olvidaste tu contraseña?
                         <a (click)="recuperarClave()">Haz clic aquí</a>
                    </div>
               </form>
          </mat-card-content>
     </mat-card>
</div>