<div class="card-container">
     <mat-card>
          <mat-card-header>
               <mat-card-title>Iniciar Sesion</mat-card-title>
          </mat-card-header>
          <mat-card-content>
               <form class="form-custom" [formGroup]="formLogin">
                    <mat-form-field class="input-custom">
                         <mat-label>Correo</mat-label>
                         <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="input-custom">
                         <mat-label>Password</mat-label>
                         <input type="password" matInput formControlName="password">
                    </mat-form-field>
                    <div class="flex">
                         <button mat-flat-button color="primary" (click)="iniciarSesion()">Iniciar Sesion</button>
                         <button mat-flat-button color="warn" (click)="registrarse()" style="margin-left:8px">Registrarse</button>
                         <button mat-flat-button color="warn" (click)="volver()" style="margin-left:8px">Volver</button>
                         
                    </div>
                    <div class="google-login">
                         <button mat-stroked-button color="accent" (click)="loginConGoogle()">
                         <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" height="20" style="margin-right:8px;">
                         Ingresar con Google
                         </button>
                    </div>

               </form>
          </mat-card-content>
     </mat-card>

</div>