<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isCollapsed" class="sidenav"
    [fixedInViewport]="true" (backdropClick)="toggleSidebar()">
    <mat-toolbar class="sidenav-toolbar">
      <mat-icon>matListIcon</mat-icon>
      <span class="sidenav-title">Menú</span>
    </mat-toolbar>
  
    <mat-nav-list>
      <a mat-list-item (click)="restobarDashboard()">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span matLine>Dashboard</span>
      </a>
  
      <a mat-list-item (click)="misRestobars()">
        <mat-icon matListIcon>restaurant_menu</mat-icon>
        <span matLine>Mis Restobars</span>
      </a>
  
      <a mat-list-item (click)="compartirCarta()">
        <mat-icon matListIcon>share</mat-icon>
        <span matLine>Compartir mi carta</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">RestobarsOnline</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="profileMenu" aria-label="Perfil usuario">
        <mat-icon>account_circle</mat-icon> Perfil
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="miperfil()">Mi cuenta</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
