<div class="background-blur"></div>
<div class="background-overlay"></div>
<div class="card-container">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Comparte tus datos con tus comensales</mat-card-title>
    </mat-card-header>

    <div class="menu-container">

      <!-- Selector de restaurante -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Selecciona un restaurante</mat-label>
        <mat-select [(value)]="selectedRestobarId" (selectionChange)="onRestobarSelected()">
          <mat-option *ngFor="let restobar of restobares" [value]="restobar.id">
            {{ restobar.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div *ngIf="selectedRestobarId && !loading" class="loading-text">
        <div class="section-divider">
          <span>Menú del día</span>
        </div>
        <div class="daily-menu-section">

          <div class="input-with-button">
            <mat-form-field appearance="fill" class="full-width no-margin">
              <mat-label>Ingresa un ítem del menú</mat-label>
              <input matInput [(ngModel)]="menuDiaItem" />
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="agregarItemMenuDia()">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <ul class="menu-list" *ngIf="menuDia.length > 0">
            <li *ngFor="let item of menuDia; let i = index">
              {{ item }}
              <button mat-icon-button color="warn" (click)="eliminarItemMenuDia(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
  
      <div *ngIf="selectedRestobarId && !loading" class="loading-text">
        <div class="section-divider">
          <span>Carga tu carta!</span>
        </div>
        <button mat-raised-button color="primary" (click)="abrirDialogoCargarMenu()">Cargar nueva carta</button>
      </div>

      <div *ngIf="urlMenu && !loading" class="menu-content">
        
        <!-- esta seccion es para reenderizar la carta en el mismo componente
      <h3>Vista previa del menú</h3>
      <ng-container *ngIf="urlMenu.endsWith('.pdf'); else imagePreview">
        <iframe [src]="urlMenu | safeUrl" width="100%" height="500px"></iframe>
      </ng-container>
      <ng-template #imagePreview>
        <img [src]="urlMenu" alt="Menú" width="100%" style="max-width: 600px;" />
      </ng-template>-->

        <!-- Sección para compartir el enlace -->
        <h3>Compartir enlace</h3>
        <div class="link-section">
          <input matInput type="text" [value]="urlMenu" readonly class="url-input" />
          <div class="button-group">
            <button mat-raised-button color="primary" aria-label="Copiar enlace" (click)="copyLink()">Copiar enlace</button>
            <button mat-raised-button color="accent" aria-label="Copiar enlace" (click)="verCartaMenu()">Ver Carta del Menú</button>
          </div>
        </div>

        <!-- Sección QR -->
        <h3>Compartir QR</h3>
        <div class="qr-section">
          <div id="qr-code" class="qr-code">
            <qr-code [value]="urlMenu" size="200" errorCorrectionLevel="M"></qr-code>
          </div>
          <button mat-raised-button color="primary" (click)="downloadQR()">Descargar QR</button>
        </div>
      </div>

      <div *ngIf="!urlMenu && selectedRestobarId && !loading" class="no-menu-message">
        <p>No se ha subido un menú para este restaurante.</p>
      </div>
    </div>
  </mat-card>
</div>
  
