<div class="dialog-wrapper">
  <h2 mat-dialog-title>
    {{ isEditMode ? 'Actualizar Restaurante' : 'Registrar Restaurante' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="registrar()" class="dialog-form">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Logo URL</mat-label>
      <input matInput formControlName="logoUrl" />
    </mat-form-field>

    <div class="logo-preview" *ngIf="form.get('logoUrl')?.value">
      <img [src]="form.get('logoUrl')?.value" alt="Logo preview" />
    </div>

    <div class="dialog-buttons">
      <button mat-stroked-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">
        {{ isEditMode ? 'Actualizar' : 'Registrar' }}
      </button>
    </div>
  </form>
</div>
