  <div class="menu-content">

    <div class="slider-wrapper">
      <h2 mat-dialog-title>{{ data.restobar.name }}</h2>

      <p>{{ data.restobar.description }}</p>
      <p *ngIf="data.restobar.horarioAtencion">
        <strong>Horario:</strong> {{ data.restobar.horarioAtencion }}
      </p>
      
      <p *ngIf="data.restobar.direccion">
        <strong>Ubícanos en:</strong> {{ data.restobar.direccion }}
      </p>
      <!-- Compartir enlace -->
      <ng-container *ngIf="datosRestorbar.urlMenu">
        <h3>Mi enlace de Platos a la carta!</h3>
        <div class="link-section">
          <div class="copy-link-wrapper">
            <mat-form-field appearance="outline" class="copy-field">
              <mat-label>Enlace del menú</mat-label>
              <input matInput [value]="datosRestorbar.urlMenu" readonly>

              <!-- Ícono de copiar -->
              <button mat-icon-button matSuffix (click)="copyLink()" aria-label="Copiar enlace">
                <mat-icon>content_copy</mat-icon>
              </button>

              <!-- Ícono de ver -->
              <button mat-icon-button matSuffix (click)="verCartaMenu()" aria-label="Ver carta del menú">
                <mat-icon>visibility</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="button-group">

          </div>
        </div>

        <!-- Compartir QR -->
        <h3>Puedes ver mis platos a la carta escaneando este QR</h3>
        <div class="qr-section">
          <div class="qr-code">
            <qr-code [value]="data.restobar.urlMenu" size="200"></qr-code>
          </div>
          <button class="btn btn-primary" (click)="downloadQR()">Descargar QR</button>
        </div>
      </ng-container>

      <!-- Mapa -->
      <ng-container *ngIf="datosRestorbar.latitud && datosRestorbar.longitud">
        <h3>Ubícanos en el mapa</h3>
        <div id="map" class="map-container"></div>
      </ng-container>
    </div>

    <div class="align-right">
      <button class="btn btn-primary" (click)="cerrarDialog()">Cerrar</button>
    </div>

  </div>