<div class="card-container">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Lista de Restaurantes</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="button-container">
        <button mat-raised-button color="accent" (click)="registrarRestaurante()">
          Registrar tu restaurante
        </button>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="listaRestaurante" matSort class="mat-elevation-z8">

          <!-- Nombre -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Descripción -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.estaActivo }}</td>
          </ng-container>
        
          <!-- Acciones -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <div class="action-buttons">
                <button mat-button color="warn" (click)="inactivarActivar(element)">
                  {{ element.estaActivo ? 'Inactivar' : 'Activar' }}
                </button>
                <button mat-button color="primary" (click)="actualizarRestaurante(element)">Actualizar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>

  </mat-card>
</div>
