<footer class="main-footer" *ngIf="footerData">
  <div class="footer-content">
    <span class="footer-logo">{{ footerData.logo }}</span>

    <nav class="footer-links">
      <a *ngFor="let link of footerData.links" [href]="link.url">{{ link.label }}</a>
    </nav>

    <div class="footer-social">
      <a *ngFor="let s of footerData.social" [href]="s.url" target="_blank">
        <i [class]="s.icon"></i>
      </a>
    </div>

    <p class="footer-copy">{{ footerData.copyright }}</p>
  </div>
</footer>
