<div class="background-blur"></div>
<div class="background-overlay"></div>

<mat-toolbar class="toolbar">
  <span class="logo">Restobars</span>
  <span class="spacer"></span>

  <!-- Botones grandes (desktop) -->
  <div class="toolbar-buttons desktop-only">
    <button mat-button (click)="registrarse()">Registrarse</button>
    <button mat-button (click)="ingresar()">Ingresar</button>
  </div>

  <!-- Menú hamburguesa (mobile) -->
  <div class="mobile-only">
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menú desplegable para móvil -->
<mat-menu #mobileMenu="matMenu">
  <button mat-menu-item (click)="registrarse()">Registrarse</button>
  <button mat-menu-item (click)="ingresar()">Ingresar</button>
</mat-menu>

<div class="landing-content">

  <!-- Contenido encima -->
  
    <h1>Bienvenido a Restobars</h1>
    <p>Deliciosos platos, excelente atención y un ambiente inigualable.</p>

    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label style="color: wheat;">Buscar restobar</mat-label>
        <input matInput [(ngModel)]="busquedaNombre" (keyup.enter)="buscarPorNombre()" style="color: wheat;"/>
        <button mat-icon-button matSuffix (click)="buscarPorNombre()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="buscarPorUbicacion()">
          <mat-icon>place</mat-icon>
        </button>
      </mat-form-field>
    </div>
  

  <!-- Carrusel horizontal de restobares -->
  <h2>Confían en nosotros...</h2>
  <div class="carousel-wrapper">
    <button class="carousel-btn left" (click)="scrollCarousel('left')">←</button>
    <div class="restobars-carousel" #carousel>
      <mat-card *ngFor="let r of restobares" class="restobar-card">
        <img mat-card-image [src]="r.urlLogo || 'assets/restobar_logo_default.png'" />
        <mat-card-header>
          <mat-card-title>{{ r.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ r.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="verDetalle(r)">Ver Detalle</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <button class="carousel-btn right" (click)="scrollCarousel('right')">→</button>
  </div>
</div>


<app-footer></app-footer>