/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Fondo de colores cálidos con blur */
.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: url('https://images.unsplash.com/photo-1543353071-087092ec393b?auto=format&fit=crop&w=1920&q=80') no-repeat center center; */
  background-size: cover;
  background-image: linear-gradient(45deg, #1d3557, #2c2c2c, #541212, #e76f51);

  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
  mix-blend-mode: multiply;  
  filter: blur(8px);
  z-index: -2;
}

/* Capa oscura para mayor contraste */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* Animación del degradado */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}